<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Antares - Login</title>
</head>

<body>
    <h1>Antares</h1>
    <form>
        <label for="username" hidden="True">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username">
        <label for="pwd" hidden="True">Password:</label>
        <input type="password" id="pwd" name="pwd" placeholder="Password">
        <input class="form-btn" type="submit" value="Login">
    </form>
</body>

</html>